.wprm-recipe-template-madame-vorger-recipe {
    margin: 20px auto;
    background-color: %wprm_background%;
    font-family: "Raleway";
    font-size: %wprm_main_font_size%;
    line-height: %wprm_main_line_height%;
    color: %wprm_main_text%;
    max-width: %wprm_max_width%;
}
.wprm-recipe-template-madame-vorger-recipe a {
    color: %wprm_link%;
}
.wprm-recipe-template-madame-vorger-recipe p, .wprm-recipe-template-madame-vorger-recipe li {
    font-family: %wprm_main_font_family%;
    font-size: 1em !important;
    line-height: %wprm_main_line_height%;
}
.wprm-recipe-template-madame-vorger-recipe li {
    margin: 0 0 0 32px !important;
    padding: 0 !important;
}
.wprm-recipe-template-madame-vorger-recipe ol, .wprm-recipe-template-madame-vorger-recipe ul {
    margin: 0 !important;
    padding: 0 !important;
}
.wprm-recipe-template-madame-vorger-recipe br {
    display: none;
}
.wprm-recipe-template-madame-vorger-recipe .wprm-recipe-name,
.wprm-recipe-template-madame-vorger-recipe .wprm-recipe-header {
    font-family: "Playfair Display";
    letter-spacing: 1.4px;
    font-weight: bold;
    font-size: 17px!important;
    color: %wprm_header_text%;
    line-height: %wprm_header_line_height%;
}
.wprm-recipe-template-madame-vorger-recipe h1,
.wprm-recipe-template-madame-vorger-recipe h2,
.wprm-recipe-template-madame-vorger-recipe h3,
.wprm-recipe-template-madame-vorger-recipe h4,
.wprm-recipe-template-madame-vorger-recipe h5,
.wprm-recipe-template-madame-vorger-recipe h6 {
    font-family: "Playfair Display";
    letter-spacing: 1.4px;
    color: %wprm_header_text%;
    line-height: %wprm_header_line_height%;
    margin: 0 !important;
    padding: 0 !important;
}
.wprm-recipe-template-madame-vorger-recipe .wprm-recipe-header {
    margin-top: 1.2em !important;
}
.wprm-recipe-template-madame-vorger-recipe h1 {
    font-size: %wprm_h1_size%;
}
.wprm-recipe-template-madame-vorger-recipe h2 {
    font-size: %wprm_h2_size%;
}
.wprm-recipe-template-madame-vorger-recipe h3 {
    font-size: %wprm_h3_size%;
}
.wprm-recipe-template-madame-vorger-recipe h4 {
    font-size: %wprm_h4_size%;
}
.wprm-recipe-template-madame-vorger-recipe h5 {
    font-size: %wprm_h5_size%;
}
.wprm-recipe-template-madame-vorger-recipe h6 {
    font-size: %wprm_h6_size%;
}.wprm-recipe-template-madame-vorger-recipe {
	position: relative;
	border-style: %wprm_border_style%;
	border-width: %wprm_border_width%;
	border-color: %wprm_border%;
	border-radius: %wprm_border_radius%;
	margin: 120px auto 20px auto;
	overflow: visible;
}
.wprm-recipe-template-madame-vorger-recipe-container {
	overflow: hidden;
	padding: 0 10px 10px 10px;
	border: 0;
	border-radius: %wprm_inner_border_radius%;
}
.wprm-recipe-template-madame-vorger-recipe .wprm-recipe-image {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	left: 50%;
}
.wprm-recipe-template-madame-vorger-recipe-header {
	margin: 0 -10px 10px -10px;
	padding: 110px 10px 10px 10px;
	text-align: center;
	background-color: %wprm_top_header_background%;
	color: %wprm_top_header_text%;
}
.wprm-recipe-template-madame-vorger-recipe-header a {
	color: %wprm_top_header_link%;
}
.wprm-recipe-template-madame-vorger-recipe-header .wprm-recipe-name {
	color: %wprm_top_header_text%;
}